import("stats")
export(AUC,
       AUC.test,
       optCutoff,
       predValues,
       perfMeasures,
       perfScores,
       
       HLgof.test,
       or2rr,
       risks,
       rrCI,
       pairwise.auc)
