import("stats")
export(AUC,
       AUC.test,
       HLgof.test,
       optCutoff,
       or2rr,
       pairwise.auc,
       perfMeasures,
       perfScores,
       predValues,
       risks,
       rrCI)
