import("stats")
export(AUC,
       AUC.test,
       confMatrix,
       HLgof.test,
       optCutoff,
       or2rr,
       pairwise.auc,
       perfMeasures,
       perfScores,
       predValues,
       risks,
       ACC,
       PCC,
       PMC,
       errorRate,
       sensitivity,
       specificity,
       recall,
       prevalence,
       NIR,
       WACC,
       BACC,
       informedness,
       YoudenJ,
       PLR,
       NLR,
       WLR,
       BLR,
       PPV,
       NPV,
       WPV,
       BPV,
       precision,
       markedness,
       Fbeta,
       F1score,
       DSC,
       JSC,
       SMC,
       RI,
       MCC,
       PPP,
       EACC,
       kappa,
       detectionRate,
       rrCI)
